<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

   <div class="about content">
    <h2>About us</h2>
    <p>Welcome to my blog, where I share my thoughts, experiences, and insights on a variety of topics that interest me. From travel and food to personal growth and relationships,
         I explore different aspects of life with curiosity and openness.
    Join me on my journey as I navigate the ups and downs of this crazy, beautiful world and strive to live a more fulfilling, meaningful life. Whether you're looking for inspiration, advice, or simply a friendly companion on your own journey,
         I hope you'll find something here that resonates with you.</p>
   </div>

   
</body>
</html>